.catalog-block__category {
    display: grid;
    grid-template-columns: 524px 364px 364px;
    gap: 16px;
    height: 429px;
    margin-bottom: 40px;
    .item {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #201f1f;
        padding: 24px;
        background-repeat: no-repeat;
        border-radius: 8px;
        border: 1px solid transparent;
        h3 {
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: 1439px) {
                font-size: 22px;
            }
        }
        // img {
        //     position: absolute;
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 50%;
        //     left: 24px;
        //     bottom: 24px;
        //     @media (max-width: 1439px) {
        //         right: 24px;
        //         left: auto;
        //     }
        // }
        &:first-child {
            background-image: url("../images/arrow.svg"),
                url("../images/cat1.png");
            background-position: bottom 25px left 25px, bottom 40px right;
            @media (max-width: 1023px) {
                height: 541px;
                grid-area: item1;
            }
            &:hover {
                background-image: url("../images/arrow-hover.svg"),
                    url("../images/cat1.png");
            }
        }
        &:nth-child(2) {
            background-image: url("../images/arrow.svg"),
                url("../images/cat2.png");
            background-position: bottom 25px left 25px, bottom 40px center;
            @media (max-width: 1023px) {
                height: 392px;
                grid-area: item2;
            }
            &:hover {
                background-image: url("../images/arrow-hover.svg"),
                    url("../images/cat2.png");
            }
        }
        &:nth-child(3) {
            background-image: url("../images/arrow.svg"),
                url("../images/cat3.png");
            background-position: bottom 25px left 25px, bottom 40px center;
            @media (max-width: 1023px) {
                height: 392px;
                grid-area: item3;
            }
            &:hover {
                background-image: url("../images/arrow-hover.svg"),
                    url("../images/cat3.png");
            }
        }
        &:hover {
            border: 1px solid var(--color-green);
        }
    }
    @media (max-width: 1439px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1023px) {
        margin-bottom: 24px;
        grid-template-columns: auto;
        grid-template-areas:
            "item1 item1"
            "item2 item3";
        height: auto;
    }
}

.catalog-block__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    span {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        &:first-child {
            color: #a6a3a3;
        }
        &:nth-child(2) {
            color: #fff;
            margin-bottom: 40px;
        }
        @media (max-width: 1023px) {
            font-size: 22px;
        }
    }
    @media (max-width: 1439px) {
        margin-top: 64px;
    }
    @media (max-width: 1023px) {
        margin-top: 40px;
    }
}
