:root {
    --color-base: #201f1f;
    --color-green-gradiend: linear-gradient(
        270deg,
        #b2ff2e 0%,
        #97e80c 52.45%,
        #b2ff2e 100%
    );
    --color-green: #B2FF2E;
    --color-grey-text: var(--color-grey-text);
}

$fontBase: "Manrope";
