section.feedback 
	.container 
		.feedback__wrap 
			h2.title Не нашли подходящий товар или <br> нужна помощь специалиста?
			span.feedback__subtitle Оставьте заявку и мы подберем всё, что <br> нужно под ваши задачи.
			form.feedback__form
				.feedback__values
					input(type="text" placeholder="ФИО")
					input.tel(type="text")
					textarea(placeholder="Комментарий (по желанию)")
				button.btn.btn--dark(type="submit") Отправить