footer.footer
	.container 
		.footer__wrap
			.footer__block.footer__block--catalog
				a.footer__logo.footer__logo--mobile(href="")
					img(src=require('../../images/logo.svg'), alt='') 
				h4.footer__title Каталог
				.footer__links
					a(href="") Преобразователи частоты
					a(href="") Устройства плавного пуска
					a(href="") Запасные части
			.footer__block.footer__block--btns
				.footer__btns 
					a.btn.btn--second(href="") открыть каталог
					button.btn.btn--second(href="") Обратная связь
			.footer__block.footer__block--list
				ul.footer__list 
					li ООО «Интрега Инжиниринг»
					li ИНН 7806574003
					li ОГРН 1207800086086
			.footer__block.footer__block--contacts
				a(href="").footer__logo.footer__logo--desctop
					img(src=require('../../images/logo.svg'), alt='') 
				.footer__contacts 
					.footer__item 
						span Телефон/факс
						a(href="tel:+79660717555")  +7 (966) 07-17-555
					.footer__item
						span Почта
						a(href="mailto:info@entrega-in.com") info@entrega-in.com
					.footer__item
						span Адрес склада
						a(href="") МО, г. Химки, <br> Вашутинское шоссе 24Б
			.footer__block.footer__block--clients
				.footer__item
					h4.footer__title Клиентам
					.footer__links 
						a(href="") Доставка и оплата
						a(href="") Гарантия
						a(href="") Самовывоз
						a(href="") Документация
				.footer__item
					h4.footer__title О компании
					.footer__links 
						a(href="") О компании
						a(href="") Реквизиты
						a(href="") Новости
						a(href="") Контакты
		.footer__bottom 
			a(href="") ООО Интрега Инжиниринг
			a(href="") Соглашение на обработку персональных данных
			a(href="") Политика конфиденциальности
			a(href="") Разработка сайта
include vectors