extends layout
block main 
	main
		section.first-section 
			.container
				.about__wrap 
					h1.title Контакты
		section.contacts 
			.container
				.contacts__wrap 
					.contacts__block 
						.item 
							h4 Телефон
							a(href="tel:+79660717555") +7 (966) 07-17-555 
						.item 
							h4 Почта
							a(href="mailto:info@entrega-in.com") info@entrega-in.com 
						.item 
							h4 Адрес
							span МО, г. Химки, Вашутинское <br> шоссе 24Б
					.contacts__map 

						#map

