extends layout
block main 
	main
		section.first-section 
			.container 
				h1.title Доставка и оплата
		section.delivery 
			.container 
				.delivery__wrap 
					.delivery__block
						h2.title Безналичный расчёт
						.delivery__content
							p Оплата товара производится по безналичному расчету юридическими лицами на основании выставленного счета на оплату.
							p Выставляем счёт после оформления заказа и обсуждения всех условий доставки с менеджером.
					.delivery__block 
						h2.title Доставка и самовывоз
						.delivery__content 
							.delivery__item
								h5 Доставка по адресу
								p Стоимость доставки транспортными компаниями до вашего склада/терминала ТК в вашем городе можно рассчитать нашем сайте.
							.delivery__item
								h5 Самовывоз
								p адресу склада МО, г. Химки, Вашутинское шоссе 24Б