extends layout
block main 
	main
		section.first-section 
			.container 
				h1.title Новости
		section.news 
			.container 
				.news__wrap 
					.item
						span.item__date 12.02.2024
						h3 Преобразователи частоты LCI по сниженным ценам
					.item
						span.item__date 12.02.2024 
						h3 Преобразователи частоты LCI по сниженным ценам
					.item
						span.item__date 12.02.2024 
						h3 Преобразователи частоты LCI по сниженным ценам
					.item
						span.item__date 12.02.2024 
						h3 Преобразователи частоты LCI по сниженным ценам
					.item
						span.item__date 12.02.2024 
						h3 Преобразователи частоты LCI по сниженным ценам